# macOS
.DS_Store

# Python
__pycache__/
.venv/
*.pyc
*.pyo
.mypy_cache/
.pytest_cache/
.ruff_cache/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Docker / builds / logs
/dist
/build
*.log

# Env files
.env

